<footer>
    <div class="footer-line"></div>
    <div class="footer-wrapper">
      <div class="footer-columns">
        <section>
          <h3 style="color: #0275d8">Brands</h3>
          <ul>
            <li>
              <a
                href="https://www.acer.com/us-en"
                title="Acer"
                style="color: #d0a933"
                >Acer</a
              >
            </li>
            <li>
              <a
                href="https://www.amd.com/en.html"
                title="AMD"
                style="color: #d0a933"
                >AMD</a
              >
            </li>
            <li>
              <a href="https://www.asus.com/" title="ASUS" style="color: #d0a933"
                >ASUS</a
              >
            </li>
            <li>
              <a
                href="https://www.corsair.com/us/en"
                title="Corsair"
                style="color: #d0a933"
                >Corsair</a
              >
            </li>
            <li>
              <a
                href="https://www.gigabyte.com/"
                title="GIGABYTE"
                style="color: #d0a933"
                >GIGABYTE</a
              >
            </li>
            <li>
              <a
                href="https://www.intel.com/content/www/us/en/homepage.html"
                title="Intel"
                style="color: #d0a933"
                >Intel</a
              >
            </li>
            <li>
              <a
                href="https://www.toshiba.com/tai/"
                title="Toshiba"
                style="color: #d0a933"
                >Toshiba</a
              >
            </li>
            <li>
              <a
                href="https://www.westerndigital.com/"
                title="Western Digital"
                style="color: #d0a933"
                >Western Digital</a
              >
            </li>
          </ul>
        </section>
        <section class="footer-logo">
          <img
            src="/assets/images/logo2.jpg"
            alt="logo"
            style="max-height: 120px"
          />
        </section>
      </div>
      <div class="footer-bottom">
        <span class="social-links">
          <a href="https://www.instagram.com/" title="Instagram">
            <img src="/assets/images/instagram.svg" alt="Instagram" />
          </a>
          <a href="https://www.linkedin.com/in/josip-ceprnic/" title="Linkedin">
            <img src="/assets/images/linkedin.svg" alt="Linkedin" />
          </a>
          <a href="https://twitter.com/" title="Twitter">
            <img src="/assets/images/twitter.svg" alt="Twitter" />
          </a>
          <a href="https://www.youtube.com/" title="Youtube">
            <img src="/assets/images/youtube.svg" alt="YouTube" />
          </a>
          <a href="https://github.com/Cepa95" title="GitHub">
            <img src="/assets/images/github.svg" alt="GitHub" />
          </a>
        </span>
      </div>
    </div>
    <small
      >© Component Kingdom Ltd. <span id="year"></span>, All rights
      reserved</small
    >
  </footer>
