<div class="row">
  <div
    class="col-2"
    style="border: 1px solid #d0a933; background-color: rgb(235, 235, 235)"
  >
    <div class="mt-4">
      <a
        class="list-group-item list-group-item-action mb-4"
        routerLink="/admin/orders"
        style="color: #d0a933"
      >
        <i class="fas fa-shopping-cart"></i> Orders
      </a>
      <a
        class="list-group-item list-group-item-action mb-4"
        routerLink="/shop"
        style="color: #d0a933"
      >
        <i class="fas fa-building"></i> Store
      </a>
      <a
        class="list-group-item list-group-item-action mb-4"
        routerLink="/admin/add-product"
        style="color: #d0a933"
      >
        <i class="fas fa-plus-square"></i> Products
      </a>
      <a
        class="list-group-item list-group-item-action mb-4"
        routerLink="/admin/customers"
        style="color: #d0a933"
      >
        <i class="fas fa-users"></i> Customers
      </a>
      <a
        class="list-group-item list-group-item-action mb-4"
        routerLink="/admin/types"
        style="color: #d0a933"
      >
        <i class="fas fa-tags"></i> Types
      </a>
      <a
        class="list-group-item list-group-item-action mb-4"
        routerLink="/admin/brands"
        style="color: #d0a933"
      >
        <i class="fas fa-industry"></i> Brands
      </a>
      <a
        class="list-group-item list-group-item-action mb-4"
        routerLink="/admin/charts"
        style="color: #d0a933"
      >
        <i class="fas fa-chart-line"></i> Reports
      </a>
      <a
        class="list-group-item list-group-item-action mb-4"
        routerLink="/admin/yearly-summary"
        style="color: #d0a933"
      >
        <i class="fas fa-calendar-alt"></i> Yearly Summary
      </a>
    </div>
  </div>
  <div class="col-9">
    <br />
    <h2 class="text-center">Top 10 Most Sold Products</h2>
    <br />
    <ngx-charts-pie-chart
      *ngIf="salesData.length > 0"
      [results]="salesData"
      [gradient]="true"
      [doughnut]="false"
      [arcWidth]="0.25"
      [labels]="true"
      [legend]="true"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
