<div class="table-responsive">
  <table class="table table-light table-striped table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Update type</th>
        <th scope="col">Delete type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of types">
        <td>{{ type.name }}</td>
        <td>
          <button
            class="btn btn-primary"
            routerLink="/update-type/{{ type.id }}"
          >
            Update
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="openModal(deleteTemplate, type.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete this type?</p>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(); modalRef?.hide()">Yes</button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">No</button>
  </div>
</ng-template>