<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" *ngFor="let step of steps; let i = index">
            <div class="div-grid">
                <button 
                (click)="onClick(i)"
                [disabled]="true"
                [class.active]="selectedIndex === i"
                [ngStyle]="{'color': selectedIndex === i ? 'white' : '#d0a933'}"
                class="nav-link py-3 text-uppercase fw-bold mx-2">
                    {{step.label}}
               
                </button>

            </div>
        </li>
    </ul>
    <div *ngIf="selected">
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
</div>