<div class="container py-5">
  <form
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    class="card p-4 shadow"
    style="border-radius: 30px"
  >
    <div class="form-group mb-3">
      <label for="name" style="color: #d0a933">Name</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        class="form-control"
        spellcheck="false"
        [class.is-invalid]="
          productForm.controls['name'].invalid &&
          productForm.controls['name'].touched
        "
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="description" style="color: #d0a933">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        spellcheck="false"
        [class.is-invalid]="
          productForm.controls['description'].invalid &&
          productForm.controls['description'].touched
        "
        required
        rows="8"
      ></textarea>
    </div>

    <div class="form-group mb-3">
      <label for="price" style="color: #d0a933">Price</label>
      <input
        id="price"
        type="number"
        formControlName="price"
        class="form-control"
        spellcheck="false"
        step="0.01"
        min="0.01"
        [class.is-invalid]="
          productForm.controls['price'].invalid &&
          productForm.controls['price'].touched
        "
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="pictureUrl" style="color: #d0a933">Picture URL</label>
      <input
        id="pictureUrl"
        type="text"
        formControlName="pictureUrl"
        class="form-control"
        spellcheck="false"
        [class.is-invalid]="
          productForm.controls['pictureUrl'].invalid &&
          productForm.controls['pictureUrl'].touched
        "
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="productTypeId" style="color: #d0a933">Product Type</label>
      <select
        id="productTypeId"
        formControlName="productTypeId"
        class="form-control"
        [class.is-invalid]="
          productForm.controls['productTypeId'].invalid &&
          productForm.controls['productTypeId'].touched
        "
        required
      >
        <option *ngFor="let type of productTypes" [value]="type.id">
          {{ type.name }}
        </option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="productBrandId" style="color: #d0a933">Product Brand</label>
      <select
        id="productBrandId"
        formControlName="productBrandId"
        class="form-control"
        [class.is-invalid]="
          productForm.controls['productBrandId'].invalid &&
          productForm.controls['productBrandId'].touched
        "
        required
      >
        <option *ngFor="let brand of productBrands" [value]="brand.id">
          {{ brand.name }}
        </option>
      </select>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-primary mt-3"
        [disabled]="productForm.invalid || productForm.pristine"
      >
        Add Product
      </button>
    </div>
  </form>
</div>
