<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>BR</b> Architects</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- home.component.html -->

<div class="d-flex mt-2">
  <button routerLink="/shop" class="btn btn-link ms-3">shop</button>
</div>
<button (click)="onTypeSelected(1)">Select Type 1</button>
<button (click)="onTypeSelected(2)">Select Type 2</button>
<button (click)="onTypeSelected(3)">Select Type 3</button>
<button (click)="onTypeSelected(4)">Select Type 4</button>

<!-- Header -->
<header
  class="w3-display-container w3-content w3-wide"
  style="max-width: 1500px"
  id="home"
>
  <img
    class="w3-image"
    src="https://timelinecovers.pro/facebook-cover/download/general-technology-computer-background-facebook-cover.jpg"
    alt="Architecture"
    width="1500"
    height="800"
  />
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span>
      <span class="w3-hide-small w3-text-light-grey">Architects</span>
    </h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width: 1564px">
  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
      Projects
    </h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img
          src="https://content.jdmagicbox.com/comp/def_content/computer_dealers/default-computer-dealers-1.jpg"
          alt="House"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img
          src="https://content.jdmagicbox.com/comp/def_content/computer_dealers/default-computer-dealers-1.jpg"
          alt="House"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img
          src="https://content.jdmagicbox.com/comp/def_content/computer_dealers/default-computer-dealers-1.jpg"
          alt="House"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img
          src="https://content.jdmagicbox.com/comp/def_content/computer_dealers/default-computer-dealers-1.jpg"
          alt="House"
          style="width: 100%"
        />
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img
          src="https://content.jdmagicbox.com/comp/def_content/computer_dealers/default-computer-dealers-1.jpg"
          alt="House"
          style="width: 99%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img
          src="https://content.jdmagicbox.com/comp/def_content/computer_dealers/default-computer-dealers-1.jpg"
          alt="House"
          style="width: 99%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img
          src="https://content.jdmagicbox.com/comp/def_content/computer_dealers/default-computer-dealers-1.jpg"
          alt="House"
          style="width: 99%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img
          src="https://content.jdmagicbox.com/comp/def_content/computer_dealers/default-computer-dealers-1.jpg"
          alt="House"
          style="width: 99%"
        />
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <h1 class="text-center mb-5" style="color: #d0a933">
    Welcome to Component Kingdom
  </h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <!-- First Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 gold-shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3" style="color: #0275d8">
            Premier Destination
          </h5>
          <p class="card-text mx-2">
            Discover top-of-the-line PC components to build your dream gaming
            rig, workstation, or home PC setup.
          </p>
        </div>
      </div>
    </div>

    <!-- Second Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 gold-shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3" style="color: #0275d8">
            Extensive Collection
          </h5>
          <p class="card-text mx-2">
            Explore our vast selection of high-performance CPUs, GPUs, SSDs,
            HDDs, motherboards, PSUs, RAM, and PC fans.
          </p>
        </div>
      </div>
    </div>

    <!-- Third Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 gold-shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3" style="color: #0275d8">
            Passionate Team
          </h5>
          <p class="card-text mx-2">
            Our knowledgeable team is dedicated to providing expert advice and
            personalized recommendations for your PC needs.
          </p>
        </div>
      </div>
    </div>

    <!-- Fourth Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 gold-shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3" style="color: #0275d8">
            Trusted Source
          </h5>
          <p class="card-text mx-2">
            Shop with confidence knowing that Component Kingdom offers fast
            shipping, secure transactions, and hassle-free shopping.
          </p>
        </div>
      </div>
    </div>

    <!-- Fifth Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 gold-shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
      >
        <div class="card-body d- flex-column">
          <h5 class="card-title text-center mb-3" style="color: #0275d8">
            Community
          </h5>
          <p class="card-text mx-2">
            Join our community of PC enthusiasts and experience the thrill of
            building, upgrading, and customizing your dream PC.
          </p>
        </div>
      </div>
    </div>

    <!-- Sixth Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 gold-shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3" style="color: #0275d8">
            Ultimate Destination
          </h5>
          <p class="card-text mx-2">
            Component Kingdom is your ultimate destination for PC hardware
            enthusiasts. Start exploring our selection today!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<footer>
  <div class="footer-line"></div>
  <div class="footer-wrapper">
    <div class="footer-columns">
      <section>
        <h3 style="color: #0275d8">Brands</h3>
        <ul>
          <li>
            <a
              href="https://www.acer.com/us-en"
              title="Acer"
              style="color: #d0a933"
              >Acer</a
            >
          </li>
          <li>
            <a
              href="https://www.amd.com/en.html"
              title="AMD"
              style="color: #d0a933"
              >AMD</a
            >
          </li>
          <li>
            <a href="https://www.asus.com/" title="ASUS" style="color: #d0a933"
              >ASUS</a
            >
          </li>
          <li>
            <a
              href="https://www.corsair.com/us/en"
              title="Corsair"
              style="color: #d0a933"
              >Corsair</a
            >
          </li>
          <li>
            <a
              href="https://www.gigabyte.com/"
              title="GIGABYTE"
              style="color: #d0a933"
              >GIGABYTE</a
            >
          </li>
          <li>
            <a
              href="https://www.intel.com/content/www/us/en/homepage.html"
              title="Intel"
              style="color: #d0a933"
              >Intel</a
            >
          </li>
          <li>
            <a
              href="https://www.toshiba.com/tai/"
              title="Toshiba"
              style="color: #d0a933"
              >Toshiba</a
            >
          </li>
          <li>
            <a
              href="https://www.westerndigital.com/"
              title="Western Digital"
              style="color: #d0a933"
              >Western Digital</a
            >
          </li>
        </ul>
      </section>
      <section class="footer-logo">
        <img
          src="/assets/images/logo2.jpg"
          alt="logo"
          style="max-height: 120px"
        />
      </section>
    </div>
    <div class="footer-bottom">
      <span class="social-links">
        <a href="https://www.instagram.com/" title="Instagram">
          <img src="/assets/images/instagram.svg" alt="Instagram" />
        </a>
        <a href="https://www.linkedin.com/in/josip-ceprnic/" title="Linkedin">
          <img src="/assets/images/linkedin.svg" alt="Linkedin" />
        </a>
        <a href="https://twitter.com/" title="Twitter">
          <img src="/assets/images/twitter.svg" alt="Twitter" />
        </a>
        <a href="https://www.youtube.com/" title="Youtube">
          <img src="/assets/images/youtube.svg" alt="YouTube" />
        </a>
        <a href="https://github.com/Cepa95" title="GitHub">
          <img src="/assets/images/github.svg" alt="GitHub" />
        </a>
      </span>
    </div>
  </div>
  <small
    >© Component Kingdom Ltd. <span id="year"></span>, All rights
    reserved</small
  >
</footer>
