<!-- home.component.html -->
<!-- Header -->
<header class="large-screen-header">
  <section class="expand">
    <img
      src="/assets/images/expand2.jpg"
      (mouseenter)="setImage(false)"
      class="expand"
    />
    <img
      src="/assets/images/expand4.jpg"
      (mouseenter)="setImage(false)"
      class="expand"
    />
    <img
      src="/assets/images/cover.jpg"
      class="{{ isImage ? 'full-size' : '' }}"
      class="expand"
    />
    <img
      src="/assets/images/expand.jpg"
      (mouseenter)="setImage(false)"
      class="expand"
    />
    <img
      src="/assets/images/expand3.jpg"
      (mouseenter)="setImage(false)"
      class="expand"
    />
  </section>
</header>
<header
  class="small-screen-header w3-display-container w3-content w3-wide"
  style="max-width: 1600px"
  id="home"
>
  <img
    class="w3-image"
    src="/assets/images/cover.jpg"
    alt="cover image"
    width="1600"
    height="300"
  />
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width: 1600px">
  <!-- Project Section -->
  <div class="w3-container mb-3" id="projects">
    <h3
      class="w3-border-bottom w3-border-light-grey w3-padding-1 mt-3"
      style="color: #d0a933"
    >
      Products
    </h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom" (click)="onTypeSelected(2)">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">CPUs</div>
        <img
          src="https://www.instar-informatika.hr/slike/velike/procesor-amd-ryzen-threadripper-pro-5995wx-64c128t45ghz-swrx-15035-100-100000444wof_1.jpg"
          alt="CPUs"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" (click)="onTypeSelected(3)">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">GPUs</div>
        <img
          src="https://www.instar-informatika.hr/slike/male/GV-N4090WF3V2-24GD_1.jpg"
          alt="GPUs"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" (click)="onTypeSelected(4)">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">HDDs</div>
        <img
          src="https://www.instar-informatika.hr/slike/male/hard-disk-wd-blue-35-2tb-sata3-6gbs-256mb-cache-7200rpm-37127-0001214351_1.jpg"
          alt="HDDs"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" (click)="onTypeSelected(5)">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Motherboards</div>
        <img
          src="https://www.instar-informatika.hr/slike/male/gigabyte-mainboard-desktop-z790-aorus-xtreme-x-28468-z790aorusxtremex_257756.jpg"
          alt="Motherboards"
          style="width: 100%"
        />
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom" (click)="onTypeSelected(6)">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">PC Fans</div>
        <img
          src="https://www.instar-informatika.hr/slike/male/ventilatori-za-kuciste-corsair-icue-ml14-cor-co-9050119-ww_1.jpg"
          alt="PC Fans"
          style="width: 99%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" (click)="onTypeSelected(7)">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">PSUs</div>
        <img
          src="https://www.instar-informatika.hr/slike/male/napajanje-corsair-rm750-750w-80-gold-modularno-atx-59821-cor-cp-9020231-eu_1.jpg"
          alt="PSUs"
          style="width: 99%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" (click)="onTypeSelected(8)">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">RAMs</div>
        <img
          src="https://www.instar-informatika.hr/slike/male/memorija-corsair-vengeance-32gb-2x16gb-ddr5-4800mhz-cl40-43496-cor-cmk32gx5m2b56z40_1.jpg"
          alt="RAMs"
          style="width: 99%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" (click)="onTypeSelected(9)">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">SSDs</div>
        <img
          src="https://www.instar-informatika.hr/slike/male/ssd-western-digital-black-sn850x-4tb-m2-nvme-pcie-gen4-r7300-20109-46120050_1.jpg"
          alt="SSDs"
          style="width: 99%"
        />
      </div>
    </div>
  </div>
</div>

<h3 style="color: #d0a933" class="text-center mt-4">
  Tech Enclave: Your Gateway to Powerhouse PC Building
</h3>

<div class="container py-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <!-- First Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
        style="border-radius: 20px"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-1" style="color: #0275d8">
            Premier Destination
          </h5>
          <hr />
          <p class="card-text mx-2">
            <a routerLink="/shop">Discover top-of-the-line PC components</a> to
            build your dream gaming rig, workstation, or home PC setup.
          </p>
        </div>
      </div>
    </div>

    <!-- Second Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
        style="border-radius: 20px;"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-1" style="color: #0275d8">
            Extensive Collection
          </h5>
          <hr />
          <p class="card-text mx-2">
            Explore our vast selection of high-performance
            <a routerLink="shop/type/2">CPUs</a>,
            <a routerLink="shop/type/3">GPUs</a>,
            <a routerLink="shop/type/4">HDDs</a>,
            <a routerLink="shop/type/5">Motherboards</a>,
            <a routerLink="shop/type/6">PC Fans</a>,
            <a routerLink="shop/type/7">PSUs</a>,
            <a routerLink="shop/type/8">RAMs</a>,
            <a routerLink="shop/type/9">SSDs</a>.
          </p>
        </div>
      </div>
    </div>

    <!-- Third Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
        style="border-radius: 20px;"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-1" style="color: #0275d8">
            Passionate Team
          </h5>
          <hr />
          <p class="card-text mx-2">
            Our knowledgeable team is dedicated to providing expert advice and
            personalized recommendations for your
            <a routerLink="/shop">PC needs</a>.
          </p>
        </div>
      </div>
    </div>

    <!-- Fourth Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
        style="border-radius: 20px;"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-1" style="color: #0275d8">
            Trusted Source
          </h5>
          <hr />
          <p class="card-text mx-2">
            <a routerLink="/shop">Shop with confidence</a> knowing that
            Component Kingdom offers fast shipping, secure transactions, and
            hassle-free shopping.
          </p>
        </div>
      </div>
    </div>

    <!-- Fifth Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
        style="border-radius: 20px;"
      >
        <div class="card-body d- flex-column">
          <h5 class="card-title text-center mb-1" style="color: #0275d8">
            Community
          </h5>
          <hr />
          <p class="card-text mx-2">
            <a href="https://www.reddit.com/r/buildapc/"
              >Join a community of PC enthusiasts</a
            >
            and experience the thrill of building, upgrading, and customizing
            your dream PC.
          </p>
        </div>
      </div>
    </div>

    <!-- Sixth Card -->
    <div class="col mb-3">
      <div
        class="card h-100 mx-2 shadow"
        style="box-shadow: 0 0 0 0.25rem var(--gold-color)"
        style="border-radius: 20px;"
      >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-1" style="color: #0275d8">
            Ultimate Destination
          </h5>
          <hr />
          <p class="card-text mx-2">
            Component Kingdom is your ultimate destination for PC hardware
            enthusiasts.
            <a routerLink="/shop">Start exploring our selection today!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<app-footer></app-footer>
