.gold-shadow {
    --gold-color: #D0A933;
  }
  
  a {
    color: #D0A933;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    border-radius: 20px;
  }
  
  img:hover {
    width: 800px;
  }
  
  .expand {
    width: 80px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: width 0.8s ease-in-out;
  }
  
  .full-size {
    width: 700px;
  }
  @media screen and (min-width: 800px) {
    .small-screen-header { display: none; }
  }

  /* Styles for small screens */
  @media screen and (max-width: 799px) {
    .large-screen-header { display: none; }
  }
