<button
class="btn btn-primary mb-3"
routerLink="/admin/add-brand"
>
Add brand
</button>
<div class="table-responsive">
    <table class="table table-light table-striped table-hover text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">Brand</th>
          <th scope="col">Update brand</th>
          <th scope="col">Delete brand</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{ brand.name }}</td>
          <td>
            <button
              class="btn btn-primary"
              routerLink="/admin/update-brand/{{ brand.id }}"
            >
              Update
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="openModal(deleteTemplate, brand.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #deleteTemplate>
    <div class="modal-body text-center">
      <p>Are you sure you want to delete this brand?</p>
      <button type="button" class="btn btn-danger" (click)="confirmDelete(); modalRef?.hide()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">No</button>
    </div>
  </ng-template>