<div class="container-fluid">
  <div
    class="row justify-content-center align-items-center"
    style="height: 88vh"
  >
    <div class="col-sm-6">
      <div class="card p-4 shadow">
        <div class="card-body text-center">
          <img
            src="/assets/images/logo3.jpg"
            alt="Logo"
            style="max-height: 120px"
            class="mb-4"
          />
          <div
            *ngIf="errors"
            class="alert alert-danger d-flex justify-content-center align-items-center"
            role="alert"
          >
            <ul style="list-style-type: none; padding: 0">
              <li *ngFor="let error of errors">
                {{ error }}
              </li>
            </ul>
          </div>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <app-text-input
              [formControl]="registerForm.controls['displayName']"
              [label]="'Username'"
              class="mb-3"
            ></app-text-input>
            <app-text-input
              [formControl]="registerForm.controls['email']"
              [label]="'Email'"
              class="mb-3"
            ></app-text-input>
            <app-text-input
              [formControl]="registerForm.controls['password']"
              [label]="'Password'"
              [type]="'password'"
              class="mb-3"
            ></app-text-input>
            <app-text-input
              [formControl]="registerForm.controls['repeatPassword']"
              [label]="'Repeat Password'"
              [type]="'password'"
              class="mb-3"
            ></app-text-input>

            <div class="d-grid">
              <button
                [disabled]="registerForm.invalid"
                class="btn btn-lg btn-primary mt-3"
                type="submit"
                style="border-radius: 22px; font-weight: bold"
              >
                Sign up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
