<div class="container mt-5">
  <div
    *ngIf="(basketService.basketSource$ | async) === null"
    class="text-center"
  >
    <h2>There are no items in your basket!</h2>
  </div>

  <ng-container *ngIf="basketService.basketSource$ | async as basket">
    <app-basket-summary
      (addItem)="incrementQuantity($event)"
      (removeItem)="removeItem($event)"
    ></app-basket-summary>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12">
              <app-order-totals></app-order-totals>
            </div>
            <div class="col-12 mt-3">
              <div class="d-grid">
                <a routerLink="/checkout" class="btn btn-primary">
                  Checkout
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </ng-container>
</div>