<div class="checkout-form mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <div class="row delivery-form" formGroupName="deliveryForm">
    <h2 class="mb-4 delivery-title">Choose delivery option</h2>
    <div class="col-6 form-group delivery-method" *ngFor="let method of deliveryMethods">
      <input
        type="radio"
        id="{{ method.id }}"
        value="{{ method.id }}"
        formControlName="deliveryMethod"
        class="form-check-input delivery-radio"
        (click)="setShippingPrice(method)"
      />
      <label for="{{ method.id }}" class="form-check-label delivery-label ms-2 mb-3">
        <span class="custom-radio"></span>
        <strong class="delivery-name">{{ method.shortName }} - {{ method.price | currency : "EUR" }}</strong>
        <br />
        <span class="label-description">{{ method.description }}</span>
        <br />
        <span class="label-description">{{ method.deliveryTime }}</span>
      </label>
    </div>
  </div>
</div>

<div class="button-group d-flex justify-content-between flex-row flex-wrap">
  <button class="btn btn-outline-primary mb-2" cdkStepperPrevious>
    Back to address
  </button>
  <button
    [disabled]="checkoutForm?.get('deliveryForm')?.invalid"
    class="btn btn-primary mb-2"
    cdkStepperNext
  >
    Go to review
  </button>
</div>