<div class="containter">
  <ng-container *ngIf="accountService.currentUser$ | async as user">
    <span  class="greeting">WELCOME {{user.displayName.toUpperCase()}}</span><span class="hand">&nbsp;👋</span>
  </ng-container>
  <div class="row">
    <section class="col-lg-3 col-md-4 col-sm-6">
      <h5 class="text-primary">Search</h5>
      <div class="d-flex mb-5 ml-1">
        <input
          type="text"
          class="form-control"
          style="color: #d0a933"
          #search
        />&nbsp;&nbsp;
        <button (click)="onSearch()" class="btn btn-outline-primary">
          Search
        </button>
      </div>

      <h5 class="text-primary mt-2">Sort</h5>
      <select
        class="form-select mb-3"
        style="color: #d0a933"
        (change)="onSortSelected($event)"
      >
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.name }}
        </option>
      </select>

      <h5 class="text-primary">Brands</h5>
      <select
        class="form-select mb-5"
        data-style="btn-info"
        style="color: #d0a933"
        (change)="onBrandSelected($event)"
      >
        <option *ngFor="let brand of brands" [value]="brand.id">
          {{ brand.name }}
        </option>
      </select>

      <h5 class="text-primary">Types</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let type of types"
          [class.active]="type.id === shopParams.typeId"
          [style.color]="type.id !== shopParams.typeId ? '#D0A933' : ''"
          [value]="type.id"
          (click)="onTypeSelected(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </section>
    <section class="col-lg-9 col-md-8 col-sm-6">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [pageIndex]="shopParams.pageIndex"
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
        ></app-paging-header>
      </div>
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 mb-4"
      >
        <div class="col" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <app-pager
        [totalCount]="totalCount"
        [pageSize]="shopParams.pageSize"
        (pageChanged)="onPageChanged($event)"
      ></app-pager>
    </section>
  </div>
</div>
