.hand {
    display: inline-block;
    animation: wave 2s infinite;
    transform-origin: 80% 40%;
    font-size: 20px;
  }

  @keyframes wave {
    0%, 100% {
      transform: rotate(0);
    }
    20%, 60% {
      transform: rotate(-25deg);
    }
    40%, 80% {
      transform: rotate(20deg);
    }
  }

  .greeting {
    color: #d0a933;
    font-size: 22px;
    font-weight: 500;
    
  }

  .list-group-item {
    cursor: pointer; 
    background-color: #f8f9fa; 
    border: 2px solid #ddd;
    padding: 10px 15px; 
    transition: background-color 0.7s, color 0.7s; 
  }
  
  .list-group-item:hover {
    background-color: #e9ecef; 
    color: #0056b3; 
  }
  
  .list-group-item.active {
    background-color: #007bff; 
    color: white; 
    border-color: #007bff; 
  }