<nav #navbar class="navbar navbar-dark bg-dark px-2 fixed-top">
  <div class="d-flex align-items-center mr-auto">
    <a routerLink="/" (click)="closeNavbar()">
      <img src="/assets/images/logo.png" alt="logo" style="max-height: 45px" />
    </a>

    <button class="navbar-toggler mr-5" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
    <ul class="navbar-nav">
      <li>
        <a
          class="nav-link px-2"
          routerLink="/"
          routerLinkActive="text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeNavbar()"
          >HOME</a
        >
      </li>

      <li>
        <a
          class="nav-link px-2"
          routerLink="/shop"
          routerLinkActive="text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeNavbar()"
          >SHOP</a
        >
      </li>
      <ng-container *ngIf="(accountService.currentUser$ | async) === null">
        <li>
          <a
            class="nav-link px-2"
            routerLink="/account/login"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNavbar()"
            >LOGIN</a
          >
        </li>
      </ng-container>
      <ng-container *ngIf="accountService.currentUser$ | async as user">
        <li>
          <a
            class="nav-link px-2"
            routerLink="/orders"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNavbar()"
            >ORDERS</a
          >
        </li>
        <li>
          <a
            class="nav-link px-2"
            routerLink="/account/settings"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNavbar()"
            >SETTINGS</a
          >
        </li>
        <li>
          <a
            class="nav-link px-2"
            (click)="accountService.logout()"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNavbar()"
            >LOGOUT</a
          >
        </li>
      </ng-container>
      <ng-container *ngIf="isAdmin()">
        <li>
          <a
            class="nav-link px-2"
            routerLink="/admin"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNavbar()"
            >ADMIN</a
          >
        </li>
      </ng-container>
    </ul>
  </div>

  <!-- Cart icon always visible on the right -->
  <a
    class="position-relative mr-1 px-2"
    routerLink="/basket"
    (click)="closeNavbar()"
  >
    <img src="/assets/cart.png" alt="logo" style="max-height: 40px" />
    <div *ngIf="basketService.basketSource$ | async as basket" class="cart-no">
      {{ getCount(basket.items) }}
    </div>
  </a>
</nav>
