.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: #0d6efd;
    color: white;
    text-align: center;
    top: -6px;
    right: 29px;
}


