<!-- <header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-4 shadow-sm bg-white border-bottom fixed-top">
    <img src="/assets/images/logo.png" alt="logo" style="max-height: 70px;">
    <nav class="my-2 text-uppercase fs-3">
        <a class="p-2 text-dark text-decoration-none" href="#">Home</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Shop</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative mr-1 cart-link"> 
            <img src="/assets/cart.png" alt="logo" style="max-height: 40px;">
            <div class="cart-no">5</div>
        </a>
        <a href="" class="btn btn-outline-secondary me-3">Login</a>
        <a href="" class="btn btn-outline-secondary me-3">Sign up</a>
    </div>
</header> -->
<nav
  class="navbar navbar-dark bg-dark px-2 fixed-top"
>
  <a routerLink="/" >
    <img src="/assets/images/logo.png" alt="logo" style="max-height: 45px" />
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link px-2" routerLink="/" (click)="closeNavbar()">HOME</a>
      </li>

      <li>
        <a class="nav-link px-2" routerLink="/shop" (click)="closeNavbar()">SHOP</a>
      </li>

      <li>
        <a class="nav-link px-2" routerLink="/contact" (click)="closeNavbar()">CONTRACT</a>
      </li>
      <li>
        <a class="nav-link px-2" routerLink="/" (click)="closeNavbar()">LOGIN</a>
      </li>
      <li>
        <a class="nav-link px-2" routerLink="/" (click)="closeNavbar()">SIGN UP</a>
      </li>
    </ul>

    <a class="position-relative mr-1 px-2">
      <img src="/assets/cart.png" alt="logo" style="max-height: 40px" />
      <div class="cart-no">5</div>
    </a>
  </div>
</nav>
