<section class="mb-3">
  <div class="d-flex mt-2">
    <input
      (keyup.enter)="onSearch()"
      type="text"
      placeholder="Search usernames"
      spellcheck="false"
      class="form-control me-2"
      #search
    />
    <button (click)="onSearch()" class="btn btn-primary mx-2">Search</button>
    <button (click)="onReset()" class="btn btn-danger">Reset</button>
  </div>
</section>

<div class="table-responsive">
  <table class="table table-light table-striped table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Display Name</th>
        <th scope="col">Username</th>
        <th scope="col">Address info</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <th scope="row">{{ customer.id }}</th>
        <td>{{ customer.displayName }}</td>
        <td>{{ customer.username }}</td>
        <td>
          <button
            class="btn btn-primary"
            routerLink="/admin/addresses/{{ customer.id }}"
          >
            Update
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="openModal(deleteTemplate, customer.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="display: flex; justify-content: center; align-items: center">
  <app-pager
    [totalCount]="totalCount"
    [pageSize]="customerParams.pageSize"
    (pageChanged)="onPageChanged($event)"
  ></app-pager>
</div>

<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete this customer?</p>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(); modalRef?.hide()">Yes</button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">No</button>
  </div>
</ng-template>